{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar">
                <div id="wiki">
                    <h2>Wiki</h2>
                </div>
                <div id="wiki_search">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input id="search_button" type="submit" value="Search">
                    </form>
                </div>
                <div id="sidebar_content">
                    <div>
                        <h5><a href="{% url 'index' %}">Home</a><h5>
                    </div>
                    <div>
                        <h5><a href="/create">Create New Page</a></h5>
                    </div>
                    <div>
                        <h5><a href="{% url 'random'%}">Random Page</a></h5>
                    </div>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="entries">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>